<style>


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#555555;
	border-width: 10px;
	border-color: #888888;
	border-collapse: collapse;
}
table.gridtable th {
	width: 30px;
	height: 30px;
	border-width: 5px;
	padding: 2px;
	border-style: solid;
	border-color: #777777;
	background-color: #badcfe;
}
table.gridtable td {
	width: 30px;
	height: 30px;
	border-width: 5px;
	padding: 2px;
	border-style: solid;
	border-color: #335555;
	background-color: #bbdddd;
	text-align: center;
}
</style>


<h1>The Hungarian Algorithm</h1>

</br></br>
The Hungarian algorithm is used to solve allocation problems, in which
a minimum (or maximum) cost matching of the elements of one set with
another is to be found. The matching costs are presented in the form
of a table, with the rows and columns representing the two sets. </br></br>
To start the algorithm, enter a table in the text area below (direct pasting
from a word processor or spreadsheet should work).</br></br>
<form autocomplete="off">
	<div>
<textarea name="tabletext" style="font-size: 8pt" rows="5" cols="20"> <%= @tabletext %> </textarea>
</br>
minimise <input type="radio" name = "maximum" value="no" <%= "checked" if !@maximise %>>
maximise <input type="radio" name = "maximum" value="yes" <%= "checked" if @maximise %>>
</br>
</div>
<input type="submit" class="bobutton" value="Submit" alt="Submit">

<div>
<%= @tablehtml.html_safe %>
</div>
</form>