<% provide(:title,  "New Task") %>
<span id = "top"></span>
<%= form_for(@task) do |f| %>
	<%= hidden_field_tag "sorthash", @sorthash %>


  <%= f.label :name, :style => "font-size: 1.7em;"%>
  <%= f.text_field :name %>

  <%= f.label :tags, :style => "font-size: 1.7em;"%>
  <%= f.text_field :tags %>

  <%= f.label :content, :style => "font-size: 1.7em;"%> 
  <%= f.text_field :content,  :value => @content %>


  <%= f.submit "Finish", class: "btn btn-large btn-primary" %>


	<br><br>Elements available:
	<span id = "elementstable"></span>
	<%= will_paginate @elements, :param_name => 'ep', :params => {controller: "tasks", action: "edit"} %>

	<%=render 'layouts/indexintro' %>

	<table class="table" align="left">
	<tr>  
		<th> <button class="linky"  name="commit" value="e id" type="submit">Id</button></th>
		<th> <button class="linky" name="commit" value="e name" type="submit">Name</button></th> 
		<th> Type </th>  
		<th> <button class="linky" name="commit" value="e tags" type="submit">Tags</button></th>
		<th>-</th><th>+</th><th>+</th><th>+</th>
	</tr>
		<% for element in @elements %>
		    <%= render element, short: true, f: f %>
    <tr>


    </tr>
		<% end %>
	</table>

	Questions available:

	<span id = "questionstable"></span>
	<%= will_paginate @questions, :param_name =>"qp", :params => {controller: "tasks", action: "edit"} %>



		<%=render 'layouts/qindexintro' %>

	<table class="table" align="left">
	</td>
	</tr>


	<tr>  
		<th> <button class="linky" name="commit" value="q id" type="submit" href = "#elementstable">Id</button></th>
		<th> <button class="linky" name="commit" value="q name" type="submit">Name</button></th>
		<th> Text </th>  
		<th> <button class="linky" name="commit" value="q tags" type="submit">Tags</button></th><th></th>
	
		<th>-</th><th>+</th><th>+</th><th>+</th>
	<th style = "width: 70px;"></th>
	</tr>

		<% for question in @questions %>
		
		    <%= render question, short: true, f: f, inc: @content.match("[ \A]Q#{question.id.to_s}[ \z]")  %>
		<% end %>



	</table>



	Content so far:

	<% @n_contents.times do |i| %>
		<div class = "outline">
		<% thing = @contents[i] %>


		<% if thing[:question] %>
			<br><h9><%= thing[:text].html_safe %></h9>
			<table>
			<% (0..thing[:tops].count - 1).each do |i|%>
			<tr><h10>
				<td class = "top">
				<%= thing[:tops][i]%>
				</td>
				<td>
				<input class = "ans_field" type="textarea"  name="@ans[]" value=<%= thing[:answers][i]%> rows="1" cols="20" >
				</td>
				<td class = "tail">
				<%= thing[:tails][i]%>
				</td>
				</h10>
			</tr>
			<% end %>
			</table>
			
		<% else %>
		
		
		
			<% if thing[:category]=="text" %>
		        <br><br><h9> <%= thing[:data] %> </h9> 
		    <% elsif thing[:category]=="image" %>   
		    	<br><br><h2> <img src = <%= thing[:data] %> /> </h2> 
		    <% elsif thing[:category]=="video" %>
			    <br><br><iframe width="600" height="450"
				src=<%= thing[:data] %>>
				</iframe>
		    	</iframe>
		    <% end %>
			
		
		
			
		<% end %>
		</div>
		<br>		
			
	<% end %>

<% end %>


