@import "bootstrap";

/* mixins, variables, etc: */

$grayPale: #eaf2f2;
$grayLightish: #eaeaea;
$pinkish: #ffaaaa;
$lightblue: #aaccff;
$darkblue: #5577aa;
$lightgreen: #99eecc;
$darkgreen: #449977;
$teal: #99BBBB;
$tealvdark: #224444;
$teallight: #BBDDDD;
$olive: #a0a010;
$graydark: #668888;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}



/* universal */

  

html {
  font-family: Bookman Old Style;
  overflow-y: scroll;
}


body {
  font-family: Bookman Old Style;
  padding-top: 120px;
}

section {
  font-family: Bookman Old Style;
  overflow: auto;
}

textarea {
  font-family: Bookman Old Style;
  resize: vertical;
}

.center {
  font-family: Bookman Old Style;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h5a, h6, h7, h7a, h8, h9, h10, tag, course{
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  color: $gray;
}

h2 {
  font-size: 2.1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: bold;
  color: $blue;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: bold;
  color: $grayLight;
}

h5 {
  font-size: 1.9em;
  text-align: right;
  color: $gray;
}

h5a {
  font-size: 1.9em;
  text-align: left;
  color: $gray;
}




h6 {
  font-size: 1.2em;
  border: 1px solid $gray;
  font-weight: normal;
  text-transform: lowercase;
  float:left
}

h7 {
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  color: $red;
}
h7a {
  font-size: 1.2em;
  text-align: left;
  color: $black;
}

h8 {
  font-size: 0.6em;
  font-weight: normal;
  color: $grayLight;
}

h9 {
  font-size: 2.1em;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: $gray;
}

h10 {
  font-size: 1.1em;
  text-align: left;
  font-weight: normal;
}

h11 {
  font-family: Trebuchet MS;
  font-size: 1.1em;
  text-align: left;
  font-weight: normal;
  color: $graydark;
}

h12 {
  font-family: Trebuchet MS;
  font-size: 0.36em;
  text-align: left;
  font-weight: normal;
  color: $teallight;
}

h13 {
  font-size: 1.3em;
}

tag {
  font-family: Trebuchet MS;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 1.0em;
  color: $graydark;
}

course {
  font-family: Trebuchet MS;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 1.0em;
  color: $graydark;
}

small {
  font-size: 1em;
}


p {
  font-family: Bookman Old Style;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  font-family: Verdana;
  color: $pinkish;
  text-transform: uppercase;
  letter-spacing: -3px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 5px solid $grayLightish;
  color: $grayLight;
  a {
    color: $gray;
      &:hover { 
    color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

form.question:before { 
  display: block; 
  content: " "; 
  margin-top: -200px; 
  height: 200px; 
  visibility: hidden; 
}



/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */


img.score_mark {
  position: relative;
  top: 0.47em;
}

input, textarea, select, .uneditable-input {
  font-size: 1.6em;
  border: 1px solid #bbb;
  width: auto;
  padding: 5px;
  height: auto;
  @include box_sizing;
}

input.ans_field {
  font-size: 1.4em;
  position: relative;
  top: 0.31em;
  background-color: $teallight;
  border: none;
}


input.small {
  font-size: 1em;
}

input.large {
  font-size: 1.4em;
}

input.answer_check {
  font-family: Trebuchet MS;
  position: relative;
  top: 0.35em;
  color: $teallight;
  background-color: $tealvdark;
  &:hover {
    color: $pinkish;
  }
}

button.teal {
  font-family: Trebuchet MS;
  color: $teallight;
  background-color: $tealvdark;
  &:hover {
    color: $pinkish;
  }
}
input.reseed {
  font-family: Trebuchet MS;
  font-size: 0.9em;
  position: relative;
  top: 0.35em;
  color: $teallight;
  background-color: $tealvdark;
  float: right;
  &:hover {
    color: $pinkish;
  }
}

input[type=submit].right {
  float: right;
}

div.centered {
  text-align: center;
}

div.right {
  text-align: right;
  float: right;
}

div.title {
  padding: 30px;
  font-size: 3em;
  color: $pinkish;
  background-color: $tealvdark;
  text-align: center;
}

div.notice {
  padding: 20px;
  font-size: 1.6em;
  color: $pinkish;
  background-color: $graydark;
  text-align: left;
  border: 2px solid $pinkish;
}

  
div.outline {
    padding: 30px;
  background-color: $grayPale;
}

div.feedback {
    padding: 30px;
  background-color: $teal;
  font-family: Trebuchet MS;
  color: $white;
}

div.info {
  font-family: Trebuchet MS;
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
  color: $graydark;
}

div.good {
  border: 3px solid $green;
}

div.bad {
  border: 3px solid $pinkish;
}

a.good {
  font-size: 1.3em;
  font-style: italic;
  color: #ddf;
}

a.bad {
  font-size: 1.3em;
  font-style: italic;
  font-style: bold;
  color: #22f;
}

a.bad:hover {
  color: $pinkish;
}

a.good:hover {
  color: $pinkish;
}


.showme{ 
display: none;
}
.showhim:hover .showme{
display : block;
}


/* tables */


td.top {
  font-family: Trebuchet MS;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: right;
  padding-right: 12px;
  color: $graydark;
}


td.tail {
  font-family: Trebuchet MS;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: left;
  padding-left: 12px;
  color: $graydark;
}

td.small {
  font-size: 0.72em;
  text-align: center;
}

td.f0 {
  background-color: #bfb
}

td.f1 {
  background-color: #ff8
}

td.f2 {
  background-color: #fbb
}

tr.dark {
  font-family: Trebuchet MS;
  font-size: 1.3em;
  color: $white;
  background-color: $tealvdark;
}

tr.good {
  font-family: Trebuchet MS;
  color: $white;
  background-color: $graydark;
  border-top: 1px solid #000;
}
tr.bad {
  font-family: Trebuchet MS;
  color: $black;
  background-color: $teal;
  border-top: 1px solid #000;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(8px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 3px 3px;
}



.slanty tr {
  border-bottom: 2px solid #add;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
.table td {
  vertical-align: top;
}
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table.centered td {
        text-align: center;
        vertical-align: middle;
}



table.t {
  font-family: verdana,arial,sans-serif;
  font-size:20px;
  color:#555555;
  border-width: 10px;
  border-color: #888888;
  border-collapse: collapse;
}
table.t th {
  border-width: 5px;
  padding: 10px;
  border-style: solid;
  border-color: #777777;
  background-color: #badcfe;
}
table.t td {
  border-width: 5px;
  padding: 10px;
  border-style: solid;
  border-color: #335555;
  background-color: #bbdddd;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.clear { /* generic container (i.e. div) for floating buttons */
     overflow: hidden;
     width: 100%;
 }

.bobutton {
  font-family: 'Bookman Old Style';
  font-weight: bold; 
  padding-top: 8px;
  color: white; 
  background-color: #668888;
  vertical-align: baseline length -50;
  }

.bobutton:hover {
  color: #668888; 
  background-color: $grayLightish;
  }

 a.button {
     background: transparent url('bg_button_a.gif') no-repeat scroll top right;
     color: #444;
     display: block;
     float: left;
     font: normal 12px Bookman Old Style, sans-serif;
     height: 24px;
     margin-right: 6px;
     padding-right: 18px; /* sliding doors padding */
     text-decoration: none;
 }

 a.button span {
     background: transparent url('bg_button_span.gif') no-repeat;
     display: block;
     line-height: 14px;
     padding: 5px 0 5px 18px;
 }

 a.button:active {
     background-position: bottom right;
     color: #000;
     outline: none; /* hide dotted outline in Firefox */
 }

 a.button:active span {
     background-position: bottom left;
     padding: 6px 0 4px 18px; /* push text down 1px */
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
